
.navbar {
    position: fixed;
    left: 0;
    top: 10%;
    padding: 1.5rem;
    z-index: 3;
    height: 100%;
    background: #36454F;
}

.top {
    border-bottom: 2px solid orange;
}

.bottom > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid orange;
}

.option-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.option-wrapper:hover {
    background: orange;
}

.count {
    color: orange;
}
