#root {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

#utility-btn {
    position: fixed;
    left: 2rem;
    z-index: 5;

    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
}

#utility-btn:hover {
    background: orange;
}
