@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
    padding: 0;
    max-width: 1280px;
}

body {
    background-color: #232323;
}

.task-option {
    @apply text-xl text-white flex justify-between items-center px-4 py-2 gap-4 hover:bg-primary rounded-2xl btn;
}

.main {
    @apply min-w-full h-full;
}

.btn {
    @apply transition ease-out duration-300 cursor-pointer;
}

.input-wrapper {
    @apply flex gap-4 items-center p-3;
}

.btn-wrapper {
    @apply flex gap-8 items-center p-3;
}

.backdrop-element {
    @apply backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200;
}

.card {
    @apply bg-gray-800 hover:shadow-inner transform hover:bg-opacity-50 btn;
}

.form {
    @apply backdrop-element flex flex-col gap-3 z-50 fixed justify-center w-full h-full items-center animate-appear; 
}

.form-btn {
    @apply btn px-8 py-2 rounded-xl font-bold hover:bg-indigo-50 hover:text-primary;
}

.form-input {
    @apply rounded-lg pl-4 pr-1 text-black text-base;
}

.navbar {
    @apply fixed left-0 top-20 p-4 z-20 h-full backdrop-element border-r-2 border-white rounded-r-lg;
}

.priority-1 {
    @apply text-priority-5;
}
